* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  display: none;
}
/* HEADER ============================================================================================================ */
header .header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-items: center;
  height: 70px;
  margin-bottom: 20px;
  padding: 0 20px;
}

header .header-container h1 {
  place-self: start;
}

header .header-container img {
  width: 70px;
}
/* HEADER END ============================================================================================================ */

/* MAIN CONTAINER ============================================================================================================ */
.container {
  flex: 1;
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100%;
  overflow: auto;
  transition: 0.2s ease;
  /* box-sizing: border-box; */
}

.container.active {
  grid-template-columns: 80px 1fr;
}

.container section {
  max-height: 100%;
  overflow: auto;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--color-sub-bg);
  color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.sidebar.active {
  padding: 20px 10px;
}

.sidebar .sidebar-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.sidebar.active .sidebar-btn {
  padding: 10px;
}

.sidebar .sidebar-btn:not(.btn-logout) {
  width: 100%;
}

.sidebar .sidebar-btn:hover {
  background-color: var(--color-btn-hover-4);
  opacity: 1;
}

.sidebar .btn-icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.sidebar .btn-text {
  font-size: 1.3rem;
}

.sidebar.active .btn-text {
  display: none;
}

.btn-logout {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
}

.sidebar.active .btn-logout {
  width: calc(100% - 20px);
}
/* SIDEBAR END */

/* MAIN CONTENT */
.main-content {
  background-color: var(--color-sub-bg-5);
  padding: 20px;
  overflow-y: auto;
}
/* MAIN CONTENT END */

/* MAIN CONTAINER END ============================================================================================================ */

/* ARROW NAV ============================================================================================================ */
.arrow-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0; /* Add margin to separate from buttons */
}

.arrow-container span {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 50px;
  transition: 0.5s;
}

.arrow-container span:nth-child(1) {
  transform: translateY(8.5px) rotate(395deg);
}

.arrow-container.active span:nth-child(1) {
  transform: translateY(-8.5px) rotate(35deg);
}

.arrow-container span:nth-child(2) {
  transform: translateY(-8.5px) rotate(-40deg);
}

.arrow-container.active span:nth-child(2) {
  transform: translateY(8.5px) rotate(145deg);
}
/* ARROW NAV END ============================================================================================================ */

/* MEDICAL RECORDS ============================================================================================================ */
.medical-records-container .table-container {
  width: 100%;
  padding: 20px;
  background-color: var(--color-main-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 85vh;
}

.medical-records-container #inp-search-medical-records {
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
}

.medical-records-container .medical-records-h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.medical-records-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.medical-records-container thead {
  background-color: var(--color-sub-bg);
  color: var(--color-font-1);
}

.medical-records-container thead th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-border-1);
}

.medical-records-container thead td {
  padding: 10px;
}

.medical-records-container .col-name {
  width: 40%;
}

.medical-records-container .col-date {
  width: 30%;
}

.medical-records-container .col-actions {
  width: 30%;
}

.medical-records-container tbody tr {
  background-color: var(--color-sub-bg-5);
  transition: background-color 0.3s;
}

.medical-records-container tbody tr:nth-child(even) {
  background-color: var(--color-main-bg);
}

.medical-records-container tbody tr:hover {
  background-color: var(--color-sub-bg-4);
}

.medical-records-container tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 1.2rem;
}

.medical-records-container .btn-download,
.medical-records-container .btn-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  font-size: 1.01rem;
}

.medical-records-container .btn-download {
  background-color: var(--color-btn-main-1);
  color: var(--color-font-1);
}

.medical-records-container .btn-download:hover {
  background-color: var(--color-btn-hover-2);
}

.medical-records-container .btn-delete {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
}

.medical-records-container .btn-delete:hover {
  background-color: var(--color-btn-hover-1);
}
/* MEDICAL RECORDS END ============================================================================================================ */

/* REQUESTS ============================================================================================================ */
.requests-container .table-container {
  width: 100%;
  padding: 20px;
  background-color: var(--color-main-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 85vh;
}

.requests-container #inp-search-requests {
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
}

.requests-container .requests-h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.requests-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.requests-container thead {
  background-color: var(--color-sub-bg);
  color: var(--color-font-1);
}

.requests-container thead th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-border-1);
}

.requests-container thead td {
  padding: 10px;
}

.requests-container .col-status {
  width: 5%;
}

.requests-container .col-name {
  width: 30%;
}

.requests-container .col-type {
  width: 15%;
}

.requests-container .col-date {
  width: 15%;
}

.requests-container .col.file {
  width: 20%;
}

.requests-container .col-actions {
  width: 20%;
}

.requests-container tbody tr {
  background-color: var(--color-sub-bg-5);
  transition: background-color 0.3s;
}

.requests-container tbody tr:nth-child(even) {
  background-color: var(--color-main-bg);
}

.requests-container tbody tr:hover {
  background-color: var(--color-sub-bg-4);
}

.requests-container tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 1.2rem;
}

.requests-container .btn-submit,
.requests-container .btn-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.3s ease;
  font-size: 1.01rem;
}

.requests-container .btn-submit {
  background-color: var(--color-btn-main-1);
  color: var(--color-font-1);
}

.requests-container .btn-submit:hover {
  background-color: var(--color-btn-hover-2);
}

.requests-container .btn-delete {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
}

.requests-container .btn-delete:hover {
  background-color: var(--color-btn-hover-1);
}

.requests-container .request-status {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: var(--color-sub-bg-1);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.requests-container .request-status .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.requests-container .request-status .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.requests-container .request-status:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* REQUESTS END ============================================================================================================ */

/* MONTHLY DISEASE ============================================================================================================ */
.monthly-disease-content-container {
  background-color: var(--color-main-bg);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
}

.monthly-disease-container .monthly-disease-h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.monthly-disease-container .month-section {
  margin-top: 10px;
}

.monthly-disease-container .month-btn {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-size: 1.3rem;
  transition: background-color 0.3s;
}

.monthly-disease-container .month-btn:hover {
  background-color: var(--color-btn-hover-5);
}

.monthly-disease-container .month-content {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin: 10px 20px;
}

.monthly-disease-container .month-content label {
  font-size: 1.2rem;
}

.monthly-disease-container .form-control {
  padding: 10px;
  border: 1px solid var(--color-border-1);
  border-radius: 4px;
  background-color: var(--color-sub-bg-5);
  color: var(--color-font-1);
}

.monthly-disease-container .form-control:focus {
  outline: none;
  border-color: var(--color-btn-hover-1);
}

.monthly-disease-container .month-content textarea {
  resize: vertical;
  min-height: 100px;
}

.monthly-disease-container .symptoms-section {
  display: flex;
  flex-direction: column;
}

.monthly-disease-container .symptoms-inp {
  margin: 5px 0;
}

.monthly-disease-container .btn-clear {
  background-color: var(--color-btn-main);
  color: #fff;
}

.monthly-disease-container .btn-submit {
  background-color: var(--color-btn-main-1);
  color: #000;
}

.monthly-disease-container .btn-clear,
.monthly-disease-container .btn-submit {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.monthly-disease-container .btn-clear:hover {
  background-color: var(--color-btn-hover-1);
}
.monthly-disease-container .btn-submit:hover {
  background-color: var(--color-btn-hover-2);
}

/* MONTHLY DISEASE END ============================================================================================================ */

/* ADMIN ACCOUNTS ============================================================================================================ */
.admin-accounts-container .table-container {
  width: 100%;
  padding: 20px;
  background-color: var(--color-main-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 85vh;
}

.admin-accounts-container .admin-accounts-h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.admin-accounts-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.admin-accounts-container thead {
  background-color: var(--color-sub-bg);
  color: var(--color-font-1);
}

.admin-accounts-container thead th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-border-1);
}

.admin-accounts-container thead td {
  padding: 10px;
}

.admin-accounts-container .col-email {
  width: 70%;
}

/* .admin-accounts-container .col-date {
  width: 25%;
} */

.admin-accounts-container .col-actions {
  width: 30%;
}

.admin-accounts-container tbody tr {
  background-color: var(--color-sub-bg-5);
  transition: background-color 0.3s;
}

.admin-accounts-container tbody tr:nth-child(even) {
  background-color: var(--color-main-bg);
}

.admin-accounts-container tbody tr:hover {
  background-color: var(--color-sub-bg-4);
}

.admin-accounts-container tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 1.2rem;
}

.admin-accounts-container .btn-add-account,
.admin-accounts-container .btn-add,
.admin-accounts-container .btn-reset,
.admin-accounts-container .btn-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  font-size: 1.01rem;
}

.admin-accounts-container .btn-add,
.admin-accounts-container .btn-add-account {
  background-color: var(--color-btn-main-1);
  font-size: 1.1rem;
  padding: 10px 20px;
}

.admin-accounts-container .btn-add:hover,
.admin-accounts-container .btn-add-account:hover {
  background-color: var(--color-btn-hover-2);
}

.admin-accounts-container .btn-reset,
.admin-accounts-container .btn-delete {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
}
.admin-accounts-container .btn-reset:hover,
.admin-accounts-container .btn-delete:hover {
  background-color: var(--color-btn-hover-1);
}
/* ADMIN ACCOUNTS END ============================================================================================================ */

/* ADD ADMIN ACCOUNT */
.add-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s, opacity 0.2s;
}

.add-account-container.active {
  opacity: 1;
  max-height: 70px;
}

.add-account-container input {
  width: 40%;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: var(--color-main-bg);
}
/* ADD ADMIN ACCOUNT END */
