body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.backgroundImage.show {
  opacity: 1;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px 30vw;
  padding: 0 10px;
  background-color: rgba(254, 250, 224, 0.7);
  border-radius: 20px;
}

.login-container {
  display: grid;
  place-items: center;
  width: 100%;
}

.login-container input {
  width: 90%;
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 50px;
}

.login-container button {
  width: 93%;
  margin-top: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--color-btn-main);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.admin-note {
  position: absolute;
  bottom: 0;
}
