.container {
  width: 97vw;
  height: 97vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: grid;
  place-items: center;
  width: 50%;
}

.login-container input {
  width: 60%;
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 50px;
}

.login-container button {
  width: 63%;
  margin-top: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--color-btn-main);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.admin-note {
  position: absolute;
  bottom: 0;
}
